{
    name             = "pr_merge"
    pipeline_type    = "V2"
    execution_mode   = "SUPERSEDED"
    create_s3_source = true
    source_stage = {
      stage_name = "Source"
      name       = "Source"
      category   = "Source"
      provider   = "S3"
      configuration = {
        S3ObjectKey          = "trigger_pipeline.zip"
        PollForSourceChanges = "false"
      }
      output_artifacts = ["SourceArtifact"]
    }
    stages = [
      {
        stage_name      = "TG-Plan-Service"
        name            = "TG-Plan-Service"
        description     = "Terragrunt plan the configuration changes for the infrastructure.(Not pipelines or git webhooks)"
        category        = "Build"
        provider        = "CodeBuild"
        project_name    = "plan_svc"
        buildspec       = "buildspec.yml"
        input_artifacts = ["SourceArtifact"]
        configuration = {
          EnvironmentVariables = <<EOF
            [
              {
                "name":"LAUNCH_ACTION",
                "value":"launch terragrunt --target-environment $TARGETENV --platform-resource service --plan --generation",
                "type":"PLAINTEXT"
              },
              {
                "name":"TARGETENV",
                "value":"qa",
                "type":"PLAINTEXT"
              },
              {
                "name":"AWS_DEPLOYMENT_ROLE",
                "value":"arn:aws:iam::020127659860:role/demo_iam-useast2-sandbox-000-role-000",
                "type":"PLAINTEXT"
              }
            ]
          EOF
        }
        codebuild_iam = <<EOF
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Action": [
                  "kms:Decrypt",
                  "kms:DescribeKey"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "sts:AssumeRole" ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "secretsmanager:GetSecretValue" ],
                "Effect": "Allow",
                "Resource": "*"
              }
            ]
          }
        EOF
        }, {
        stage_name      = "TG-Plan-Git-Webhooks"
        name            = "TG-Plan-Git-Webhooks"
        description     = "Terragrunt plan git webhooks. This stage will run in pr_event pipeline but would run terragrunt plan just when changes are made in `internals` folder."
        category        = "Build"
        provider        = "CodeBuild"
        project_name    = "plan_hooks"
        buildspec       = "buildspec.yml"
        input_artifacts = ["SourceArtifact"]
        configuration = {
          EnvironmentVariables = <<EOF
            [
              {
                "name":"LAUNCH_ACTION",
                "value":"launch terragrunt --target-environment $TARGETENV --platform-resource webhook --plan --generation",
                "type":"PLAINTEXT"
              },
              {
                "name":"TARGETENV",
                "value":"root",
                "type":"PLAINTEXT"
              },
              {
                "name":"AWS_DEPLOYMENT_ROLE",
                "value":"arn:aws:iam::020127659860:role/demo_iam-useast2-sandbox-000-role-000",
                "type":"PLAINTEXT"
              }
            ]
          EOF
        }
        codebuild_iam = <<EOF
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Action": [
                  "kms:Decrypt",
                  "kms:DescribeKey"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "sts:AssumeRole" ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "secretsmanager:GetSecretValue" ],
                "Effect": "Allow",
                "Resource": "*"
              }
            ]
          }
        EOF
        }, {
        stage_name      = "TG-Plan-Pipelines"
        name            = "TG-Plan-Pipelines"
        description     = "Terragrunt plan pipelines. This stage will run in pr_event pipeline but would run terragrunt plan just when changes are made in `internals` folder."
        category        = "Build"
        provider        = "CodeBuild"
        project_name    = "plan_pipeln"
        buildspec       = "buildspec.yml"
        input_artifacts = ["SourceArtifact"]
        configuration = {
          EnvironmentVariables = <<EOF
            [
              {
                "name":"LAUNCH_ACTION",
                "value":"launch terragrunt --target-environment $TARGETENV --platform-resource pipeline --plan --generation",
                "type":"PLAINTEXT"
              },
              {
                "name":"TARGETENV",
                "value":"root",
                "type":"PLAINTEXT"
              },
              {
                "name":"AWS_DEPLOYMENT_ROLE",
                "value":"arn:aws:iam::020127659860:role/demo_iam-useast2-sandbox-000-role-000",
                "type":"PLAINTEXT"
              }
            ]
          EOF
        }
        codebuild_iam = <<EOF
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Action": [
                  "kms:Decrypt",
                  "kms:DescribeKey"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "sts:AssumeRole" ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "secretsmanager:GetSecretValue" ],
                "Effect": "Allow",
                "Resource": "*"
              }
            ]
          }
        EOF
        }, {
        stage_name      = "Pre-Deploy-Tests"
        name            = "Pre-Deploy-Tests"
        description     = "Run regula/conftests/OPA tests for the configuration changes."
        category        = "Build"
        provider        = "CodeBuild"
        project_name    = "pre_deploy"
        buildspec       = "buildspec.yml"
        input_artifacts = ["SourceArtifact"]
        configuration = {
          EnvironmentVariables = <<EOF
            [
              {
                  "name": "LAUNCH_ACTION",
                  "value": "pre-deploy-test",
                  "type": "PLAINTEXT"
              },
              {
                  "name": "IS_PIPELINE",
                  "value": "true",
                  "type": "PLAINTEXT"
              },
              {
                  "name": "TARGETENV",
                  "value": "qa",
                  "type": "PLAINTEXT"
              }
            ]
          EOF
        }
        codebuild_iam = <<EOF
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Action": [
                  "kms:Decrypt",
                  "kms:DescribeKey"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "secretsmanager:GetSecretValue" ],
                "Effect": "Allow",
                "Resource": "*"
              }
            ]
          }
        EOF
        }, {
        stage_name      = "Launch-Apply-SemVer"
        name            = "Launch-Apply-SemVer"
        description     = "Create a git tag with semantic version predicted in previous stage and push the tag to the repository."
        category        = "Build"
        provider        = "CodeBuild"
        project_name    = "semver_apply"
        buildspec       = "buildspec.yml"
        input_artifacts = ["SourceArtifact"]
        configuration = {
          EnvironmentVariables = <<EOF
            [
              {
                "name":"LAUNCH_ACTION",
                "value":"launch-apply-semver",
                "type": "PLAINTEXT"
              },
              {
                "name":"ROLE_TO_ASSUME",
                "value":"arn:aws:iam::020127659860:role/demo_iam-useast2-sandbox-000-role-000",
                "type":"PLAINTEXT"
              }
            ]
          EOF
        }
        codebuild_iam = <<EOF
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Action": [
                  "kms:Decrypt",
                  "kms:DescribeKey"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "secretsmanager:GetSecretValue" ],
                "Effect": "Allow",
                "Resource": "*"
              }
            ]
          }
        EOF
        }, {
        stage_name      = "Trigger-Env"
        name            = "Trigger-Env"
        description     = "Trigger the environment pipeline. USERVAR_S3_CODEPIPELINE_BUCKET variables specifies the value of the S3 bucket in which trigger script is stored. Based on the value of this variable,it is determined which environment pipeline to trigger."
        category        = "Build"
        provider        = "CodeBuild"
        project_name    = "trigger_env"
        buildspec       = "buildspec.yml"
        input_artifacts = ["SourceArtifact"]
        configuration = {
          EnvironmentVariables = <<EOF
            [
              {
                "name": "LAUNCH_ACTION",
                "value": "trigger-pipeline",
                "type": "PLAINTEXT"
              },
              {
                "name": "USERVAR_S3_CODEPIPELINE_BUCKET",
                "value": "gdds02-ecs-ptfrm-qa-useast2-root-000-s3-000",
                "type": "PLAINTEXT"
              },
              {
                "name": "INTERNALS_CODEPIPELINE_BUCKET",
                "value": "gdds02-ecs-ptfrm-internals-useast2-root-000-s3-000",
                "type": "PLAINTEXT"
              },
              {
                "name": "IS_PIPELINE_LAST_STAGE",
                "value": "true",
                "type": "PLAINTEXT"
              }
            ]
          EOF
        }
        codebuild_iam = <<EOF
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Action": [
                  "s3:PutObject",
                  "s3:GetObjectAcl",
                  "s3:GetObject",
                  "s3:ListBucketMultipartUploads",
                  "s3:ListBucketVersions",
                  "s3:ListBucket",
                  "s3:DeleteObject",
                  "s3:PutObjectAcl",
                  "s3:ListMultipartUploadParts"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [
                  "ecr:GetAuthorizationToken",
                  "ecr:BatchCheckLayerAvailability",
                  "ecr:GetDownloadUrlForLayer",
                  "ecr:BatchGetImage"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [
                  "kms:Decrypt",
                  "kms:DescribeKey"
                ],
                "Effect": "Allow",
                "Resource": "*"
              },
              {
                "Action": [ "secretsmanager:GetSecretValue" ],
                "Effect": "Allow",
                "Resource": "*"
              }
            ]
          }
        EOF
    }]
    }